CA02/Mizdooni/target/
CA02/Mizdooni/out/
CA02/Mizdooni/pom.xml.tag
CA02/Mizdooni/pom.xml.releaseBackup
CA02/Mizdooni/pom.xml.versionsBackup
CA02/Mizdooni/pom.xml.next
CA02/Mizdooni/release.properties
CA02/Mizdooni/dependency-reduced-pom.xml
CA02/Mizdooni/buildNumber.properties
CA02/Mizdooni/.mvn/timing.properties
CA02/Mizdooni/.mvn/wrapper/maven-wrapper.jar
CA02/Mizdooni/elastic-apm-agent-*.jar
*.docx
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
